*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    width:100%;
}
.page{
    margin: auto;
    overflow-x: hidden;
}
@font-face {
    font-family: 'ITC';
    src: url(../fonts/avantgarde_demi.ttf);
}
@font-face {
    font-family: 'ITC-med';
    src: url(../fonts/ITC\ Avant\ Garde\ Gothic\ Std\ Medium.otf);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'ITC';
}
p{
    font-family: 'ITC-med';
}
nav{
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.navlinks{

}
.navlinks ul li{
    list-style-type: none;
    display: inline;
}
.close{
    display: none;
    z-index: 1000;
}
#hero{
    height: 100%;
    /* margin-bottom:100px; */
}
section{
    width:100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}
.holder{
    width:95%;
    height: 100%;
    position: relative;
    /* bottom:60px; */
}
.holder img{
    width: 100%;
    object-fit: contain;
}
.section-holder{
    width:80%;
    height: 80%;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:auto;
    opacity: 0;
}
.section-holder p{
    opacity: 1;
}
.p-holder{
    display: flex;
   
}

.section-holder span{
    background: #EA5583;
    width:10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;    
}



@media screen and (min-width:320px) and (max-width:480px) {
h1{
    font-size:3rem;
}
    h2{
    font-size: 2rem;
}
h
p{
    font-size: 1.1rem;
    font-weight: 400;
}
    nav{
        height:60px;
        width:100vw;
        position: fixed;
        /* display: flex; */
        top:0;
        left:0;
        z-index: 1000; 
        background-color: white;;
    }
    .close{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width:80px;
        height:30px;
        right:0;
        top:15%;
        transition: .3s ease;
    }
    .bar{
        width:30px;
        height: 5px;
        background: #004AAD;
        margin:2px auto;
        transition: .3s ease;
        border-radius: 25px;
    }
    .close.active .bar:nth-of-type(1){
        transform: rotateZ(45deg) translateY(13px);
    }
    .close.active .bar:nth-of-type(2){
        opacity: 0;
    }
    .close.active .bar:nth-of-type(3){
        transform: rotateZ(-45deg) translateY(-13px);
    }
    .navbar{
        justify-content: center;
    }
    .navlinks ul{
        margin-bottom:200px;
        /* margin:auto; */
    }
    .navlinks ul li{
        display: block;
        font-size: 2rem;
        text-align: center;
        margin:5px auto;
        font-family: 'ITC';
    }
    .navlinks{
        width:100vw;
        height: 100vh;
        position: absolute;
        top:-250vh;
        left:0;
        transition: .3s ease;
        display: grid;
        place-items: center;
        background: white;
        z-index: 999;
    }
    .navlinks.active{
        top:0;
        
    }
    .circle{
        position: absolute;
        top:10%;
        right: 5%;
        scale:.5;
        z-index: 10;
        width:50px;
        height: 50px;
        background: #EA5583;
        border-radius: 50%;
    }
    .black{
        background: black;
    }
    .hero-holder{
        position: relative;
        width:100%;
        height: 100%;
    }
    #hero{
        /* margin-top:100px; */
        z-index: 11;
    }
    #hero .text-holder{
        width:85%;
        height: 100%;
        margin: auto;
        position: relative;
        bottom:50px;
        display: flex;
        flex-direction: column;
        gap:10px 0;
    }
    .right-rect-holder,.left-rect-holder{
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 50px;
        position: absolute;
        right: -5%;
        top: 48vh;
    }
    .right-rect-holder img,.left-rect-holder img{
        width: 100%;
        height: 120%;
    }
    .right-rect-holder img:nth-of-type(2){
        position: relative;
        bottom:10px;
    }
    .left-rect-holder{
        top: 88vh;
        right:auto;
        left: -5%!important;
        transform: rotateZ(180deg);
    }
    /* #products{
        bottom:30vh;
    } */
     #us img{
        width: 100%;
        position: relative;
        /* bottom:5%; */
        
     }
     .prods-head{
        color:white;
        position: absolute;
        top:15%;
        left:15%;
        width:80%;
        z-index: 11;
     }
     .product{
        width: 100%;
        height: 80vh;
        position: relative;
        display: flex;
        flex-direction: column;
     }
     .p-holder{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap:10px;
        margin:10px auto;
        height: 65%;
        z-index: 11;
    }
    .products-holder{
        width:100%;
        height: 100%;
        position: relative;
        /* bottom:72vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow: hidden; */
    }
    /* .products-holder img{
        width: 100%;
        object-position: -150px;
        object-fit: contain;
    } */
    .prods-bg{
        position: absolute;
        width: 830px;
        height: 1300px;
        background: #004AAD;
        /* transform: rotateZ(-110deg);
        border-radius: 25%; */
    }
    .prods-list{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 45%;
        left: 95%;
        transform: translateX(-50%);
        /* width:80%; */
        height: 35%;
        color:white;
        z-index: 15;
    }
    .prods-list ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    .prods-list ul li{
        font-family: 'ITC';
        font-size: 1.2rem;
        list-style-type: none;
        z-index: 11;
        display: inline;
        margin:auto 5px;
        text-align: center;
        transition: .2s ease;
        width:100%;
        height:100%;
        vertical-align: middle;
    }
    .prods-list ul li.active{
        /* font-size:1.8rem; */
        color:#EA5583;
        /* border-radius: 50%; */
    }
    .products-holder .text-holder{
        position: relative;
        height: auto;
        width:80%;
        height:30%;
        margin:auto;
        top:-160px;
        opacity: 0;
        color:white;
        display: flex;
        flex-direction: column;
        gap:10px;
        /* padding-left: .5rem; */
    }
    /* .products-holder .text-holder > *{
        padding-left:1rem;
    } */
    #products .image-holder{
        width:80%;
        height: 60%;
        position: absolute;
        z-index: 100;
        top:52%;
        left:-100%;   
    }
    #products .image-holder img{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        object-fit: cover;
        object-position: center;
    }
    #products .image-holder img:nth-of-type(1){
        opacity: 1;
    }
    #prod-p{
        /* height:200px; */
        /* overflow-y: scroll; */
        font-size: 0.8rem;
    }
    h3,h4{
        /* color:white; */
    }
    h3{
        font-size: 2rem;
        /* width:78%; */
    }
    h4{
        font-size: 1.2rem;
        /* background: #EA5583; */
        border-radius: 50px;
        /* padding-left: .5rem; */
    }
    p{
        font-size: .9rem;
    }
    .exp{
        position: absolute;
        width:100%;
        height: auto;
        max-height: 100px;
        z-index: -1;
        transform-origin: right;
        padding: .5rem 0;
        font-size: 1rem;
        right:15px;
        
    }
    /* usp section */
    #usp{
        background:linear-gradient( #004AAD 50%, transparent);
        /* border-radius: 0 0 50% 50%; */
    }
    .usp-holder{
        position: absolute;
        width: 150%;
        height: 50%;
        background: #004AAD;
        border-radius: 0 0 50% 50% ;
        left:50%;
        transform: translateX(-50%);

        /* transform: rotate(-110deg); */
        bottom:0;
    }
    .usp-image-holder{
        /* width: 85vw; */
        height: 70%;
        margin: auto;
        position: absolute;
        left:50%;
        bottom:7%;
        transform: translateX(-50%);
    }
    .usp-overlay{
        position: absolute;
        width:100%;
        height: 100%;
        border-radius: 50%;
        background: #EA5583;
    }
    .usp-image-holder img{
        width: 100%;
        /* height: 100%; */
        object-fit: contain;
        
    }
    #usp{
        color:white;
    }
    #usp h2{
        position: relative;
        width:80%;
        /* margin: auto; */
        /* top:70px; */
    }
    .usp-text-holder{
        position: relative;
        top:80px;
        width:80%;
        margin: auto;
        height:30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap:20px;
        
    }
    .usp-list{
        
        font-family: 'ITC';
        position: absolute;
        top:40%;
        transform: translateY(-40%);
        right:0;
        z-index: 10;
     
        height: 150px;
    }

    .usp-list ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between  ;
        align-items: center;
        height: 100%;
    }
    .usp-list ul li{
        list-style-type: none;
        display:block;
        width:2rem;
        font-size: 1.2rem;
        text-align: center;
    }
    #usp h4{
        font-size: 1rem;
    }
    #usp p{
        font-size: .8rem;
        font-family: 'ITC-med';
    }
    /* team section */
    #team{
        color:white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:140vh;
        min-height: 100vh;
        /* overflow: scroll; */

    }
    .team-bg{
    position: relative;
    width: 400px;
    height: 454px;
    border-radius: 0 350px 350px 0;
    background: #004aad;
    transform: rotateZ(15deg);
    left: -12%;
    /* top:8vh; */
    }
    .team-desc{
        position: relative;
        width: 320px;
        top: -20vh;
        left: 10%;
    }
    .person-desc{
        color:black;
    }
    .team-holder{
        width: 100%;
        height: 100%;
        /* background: red; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items:center;
    }
    .col{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width:100%;
        height:80%;
        margin: auto;
        position: relative;
    }
    .col:nth-of-type(2){
        top:80px;
    }
    .team-person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:10px;
    }
    .team-person img{
        width:150px;
        height: 150px;
        border-radius: 100%;
        background: #004AAD;

    }
    .person-desc{
        border:1px solid #004AAD;
        width:200px;
        border-radius: 40px;
        padding:.2rem;
    }

}

