*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    width:100%;
}
.page{
    margin: auto;
    overflow-x: hidden;
}
@font-face {
    font-family: 'ITC';
    src: url(../fonts/avantgarde_demi.ttf);
}
@font-face {
    font-family: 'ITC-med';
    src: url(../fonts/ITC\ Avant\ Garde\ Gothic\ Std\ Medium.otf);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'ITC';
}
p{
    font-family: 'ITC-med';
}
nav{
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.navlinks{

}
.navlinks ul li{
    list-style-type: none;
    display: inline;
}
.close{
    display: none;
    z-index: 1000;
}
#hero{
    height: 100%;
    /* margin-bottom:100px; */
}
section{
    width:100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}
.holder{
    width:95%;
    height: 100%;
    position: relative;
    /* bottom:60px; */
}
.holder img{
    width: 100%;
    object-fit: contain;
}
.section-holder{
    width:80%;
    height: 80%;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:auto;
    opacity: 0;
}
.section-holder p{
    opacity: 1;
}
.p-holder{
    display: flex;
   
}

.section-holder span{
    background: #EA5583;
    width:10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;    
}



@media screen and (min-width:320px) and (max-width:500px) {
h1{
    font-size:3rem;
}
    h2{
    font-size: 2rem;
}
h
p{
    font-size: 1.1rem;
    font-weight: 400;
}
    nav{
        height:60px;
        width:100vw;
        position: fixed;
        /* display: flex; */
        top:0;
        left:0;
        z-index: 1000; 
        background-color: white;;
    }
    .close{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width:80px;
        height:30px;
        right:0;
        top:15%;
        transition: .3s ease;
    }
    .bar{
        width:30px;
        height: 5px;
        background: #004AAD;
        margin:2px auto;
        transition: .3s ease;
        border-radius: 25px;
    }
    .close.active .bar:nth-of-type(1){
        transform: rotateZ(45deg) translateY(13px);
    }
    .close.active .bar:nth-of-type(2){
        opacity: 0;
    }
    .close.active .bar:nth-of-type(3){
        transform: rotateZ(-45deg) translateY(-13px);
    }
    .navbar{
        justify-content: center;
    }
    .navlinks ul{
        margin-bottom:200px;
        /* margin:auto; */
    }
    .navlinks ul li{
        display: block;
        font-size: 2rem;
        text-align: center;
        margin:5px auto;
        font-family: 'ITC';
    }
    .navlinks{
        width:100vw;
        height: 100vh;
        position: absolute;
        top:-250vh;
        left:0;
        transition: .3s ease;
        display: grid;
        place-items: center;
        background: white;
        z-index: 999;
    }
    .navlinks.active{
        top:0;
        
    }
    .circle{
        position: absolute;
        top:10%;
        right: 5%;
        scale:.5;
        z-index: 10;
        width:50px;
        height: 50px;
        background: #EA5583;
        border-radius: 50%;
    }
    .black{
        background: black;
    }
    .hero-holder{
        position: relative;
        width:100%;
        height: 100%;
    }
    #hero{
        /* margin-top:100px; */
        z-index: 11;
    }
    #hero .text-holder{
        width:85%;
        height: 100%;
        margin: auto;
        position: relative;
        bottom:50px;
        display: flex;
        flex-direction: column;
        gap:10px 0;
    }
    .right-rect-holder,.left-rect-holder{
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 50px;
        position: absolute;
        right: 5%;
        top: 48vh;
    }
    .right-rect-holder img,.left-rect-holder img{
        width: 100%;
        height: 120%;
    }
    .right-rect-holder img:nth-of-type(2){
        position: relative;
        bottom:10px;
    }
    .left-rect-holder{
        top: 88vh;
        right:auto;
        left: -5%!important;
        transform: rotateZ(180deg);
    }
    /* #products{
        bottom:30vh;
    } */
     #us img{
        width: 100%;
        position: relative;
        /* bottom:5%; */
        
     }
     .arrow {
        border: solid #EA5583;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 15px;
        z-index: 101;
        position: absolute;
        top:50%;
        transform: translateY(50%);
      }
      .right-arrow,.usp-right-arrow{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        right:5%;
      }
      .left-arrow,.usp-left-arrow{
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left:5%;
      }
     .prods-head{
        color:white;
        position: absolute;
        top:15%;
        left:15%;
        width:80%;
        z-index: 11;
     }
     #prod-p,#prod-head{
        padding:0.5rem;
     }
     .product{
        width: 100%;
        height: 80vh;
        position: relative;
        display: flex;
        flex-direction: column;
     }
     .p-holder{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap:10px;
        margin:10px auto;
        height: 65%;
        z-index: 11;
    }
    .products-holder{
        width:100%;
        height: 100%;
        position: relative;
        /* bottom:72vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow: hidden; */
    }
    /* .products-holder img{
        width: 100%;
        object-position: -150px;
        object-fit: contain;
    } */
    .prods-bg{
        position: absolute;
        width: 830px;
        height: 1300px;
        background: #004AAD;
        /* transform: rotateZ(-110deg);
        border-radius: 25%; */
    }
    .prods-list{
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 45%;
        left: 95%;
        transform: translateX(-50%);
        /* width:80%; */
        height: 35%;
        color:white;
        z-index: 15;
    }
    .prods-list ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    .prods-list ul li{
        font-family: 'ITC';
        font-size: 1.2rem;
        list-style-type: none;
        z-index: 11;
        display: inline;
        margin:auto 5px;
        text-align: center;
        transition: .2s ease;
        width:100%;
        height:100%;
        vertical-align: middle;
    }
    .prods-list ul li.active{
        /* font-size:1.8rem; */
        color:#EA5583;
        /* border-radius: 50%; */
    }
    .products-holder .text-holder{
        position: relative;
        height: auto;
        width:80%;
        height:30%;
        margin:auto;
        top:-220px;
        opacity: 0;
        color:white;
        display: flex;
        flex-direction: column;
        gap:10px;
        /* padding-left: .5rem; */
    }
    /* .products-holder .text-holder > *{
        padding-left:1rem;
    } */
    #products .image-holder{
        width:80%;
        height: 60%;
        position: absolute;
        z-index: 100;
        top:52%;
        left:-100%;   
    }
    #products .image-holder img{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        object-fit: cover;
        object-position: center;
    }
    #products .image-holder img:nth-of-type(1){
        opacity: 1;
    }
    #prod-p{
        /* height:200px; */
        /* overflow-y: scroll; */
        font-size: 0.8rem;
    }
    h3,h4{
        /* color:white; */
    }
    h3{
        font-size: 2rem;
        /* width:78%; */
    }
    h4{
        font-size: 1.2rem;
        /* background: #EA5583; */
        border-radius: 50px;
        /* padding-left: .5rem; */
    }
    p{
        font-size: .9rem;
    }
    .exp{
        position: absolute;
        width:100%;
        height: auto;
        max-height: 100px;
        z-index: -1;
        transform-origin: right;
        padding: .5rem 0;
        font-size: 1rem;
        /* right:15px; */
        
    }
    /* usp section */
    #usp{
        background:linear-gradient( #004AAD 50%, transparent);
        /* border-radius: 0 0 50% 50%; */
    }
    .usp-holder{
        position: absolute;
        width: 150%;
        height: 50%;
        background: #004AAD;
        border-radius: 0 0 50% 50% ;
        left:50%;
        transform: translateX(-50%);

        /* transform: rotate(-110deg); */
        bottom:0;
    }
    .usp-image-holder{
        /* width: 85vw; */
        height: 70%;
        margin: auto;
        position: absolute;
        left:50%;
        bottom:7%;
        transform: translateX(-50%);
    }
    .usp-overlay{
        position: absolute;
        width:100%;
        height: 100%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background: #EA5583;
    }
    .usp-image-holder img{
        width: 100%;
        /* height: 100%; */
        object-fit: contain;
        
    }
    #usp{
        color:white;
    }
    #usp h2{
        position: relative;
        width:80%;
        /* margin: auto; */
        /* top:70px; */
    }
    .usp-text-holder{
        position: relative;
        top:80px;
        width:80%;
        margin: auto;
        height:30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap:20px;
        
    }
    .usp-list{
        
        font-family: 'ITC';
        position: absolute;
        top:40%;
        transform: translateY(-40%);
        right:0;
        z-index: 10;
     
        height: 150px;
    }

    .usp-list ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between  ;
        align-items: center;
        height: 100%;
    }
    .usp-list ul li{
        list-style-type: none;
        display:block;
        width:2rem;
        font-size: 1.2rem;
        text-align: center;
    }
    #usp h4{
        font-size: 1rem;
    }
    #usp p{
        font-size: .8rem;
        font-family: 'ITC-med';
    }
    /* team section */
    #team{
        color:white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:130vh;
        min-height: 150vh;
        /* overflow: scroll; */

    }
    .team-bg,.partners-bg{
    position: relative;
    width: 450px;
    height: 454px;
    border-radius: 0 350px 350px 0;
    background: #004aad;
    transform: rotateZ(15deg);
    left: -12%;
    top:8vh;
    }
    .team-desc,.partners-desc{
        position: relative;
        width: 300px;
        top: -20vh;
        left: 8%;
        color:white;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: flex-start; */
        gap:10px;
    }
    .person-desc{
        color:black;
    }
    .team-holder{
        width: 100%;
        height: 100%;
        /* background: red; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items:center;
        position: relative;
        bottom:50px;
    }
    .col{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width:100%;
        height: 90%;
        margin: 0 auto 100px auto;
        position: relative;
    }
    .col:nth-of-type(2){
        top:80px;
    }
    .team-person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:10px;
    }
    .team-person img{
        width:150px;
        height: 150px;
        border-radius: 100%;
        background: #004AAD;
        /* border:1px solid #004AAD */

    }
    .person-desc{
        border:1px solid #004AAD;
        width:150px;
        border-radius: 40px;
        padding:.2rem;
    }
 /* partners section */
 #partners{
    height: 100%;
 }
 .partners-bg{
height: 300px;
 }
 .partners-holder{
    width:80%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    margin: auto;
 }

 .partner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 1rem;

 }
 .partner:nth-last-of-type(odd){
    flex-direction: row-reverse;
 }
 .partner img{
    width:120px;
    height: 120px;
    border-radius: 50%;
    background: gray;
 }
 /* testimonials section  */
 #testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
 }
 #testimonials h3, #testimonials h4{
    color:#004AAD;
 }
 #testimonials h2{
    width:80%;
    margin: auto;
    color:#004AAD;
    position: relative;
    top: 50px;
 }
 .testimonials-holder{
    height:80%;
    width:80%;
    margin:auto;
 }
 .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:80%!important; */
    /* margin: auto; */
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider-image-holder{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom:35px;
  }
  .inner-holder {
    display: grid;
    place-items:center;
    width: 80%;
    height:200px;
    margin: auto;
    position: relative;
  }
  .inner-holder img{
    width:200px;
    height: 200px;
    border-radius: 100%;
    background: gray;
  }
  .testi-p-holder p{
    position: relative;
  }
  .testi-p-holder p img{
    width:15px;
    height: 12px;
    display: inline;
    margin:0 5px;
    position: relative;
    object-fit: contain;
  }

  .two{
    transform: rotateZ(180deg)!important;
  }
  .swiper-button-next,.swiper-button-prev{
    color:#EA5583;
    height:20px;
  }
  .swiper-button-next{
    right:0;
  }
  .swiper-button-prev{
    left:0;
  }
  .swiper-pagination-bullet-active{
    background: #EA5583;
  }
  .decor,.decor-2,.decor-3{
    position: absolute;
    background: #004AAD;
  }
  .decor{
    width:17px;
    height: 37px;
    border-radius: 25px;
    transform: rotateZ(-45deg);
    top: 5%;
    left: -5%;
  }
  .decor-2{
    width:17px;
    height:17px;
    border-radius: 100%;
    top: 5%;
    left: 5%;
  }
  .decor-3{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    bottom: -5%;
    right: -5%;
  }
  /* faqs section */
  #faqs h2{
    color:white;
    position: relative;
    width: 80%;
    margin: auto;
    top:80px;
  }
  .faqs-bg{
    background: #004AAD;
    width: 100%;
    height:300px;
    border-radius: 0 25% 25% 0;
    position: absolute;
    top:-15%;
    z-index: -1;
  }
  .bg-holder{
    position: absolute;
    right:5%;
    bottom:-8%;
    display: grid;
    place-items:center;
    transition: .3s ease;
    transform: rotateZ(20deg);
  }
  .bg-holder.active{
    transform: rotateZ(10deg) translateY(-10px);
    bottom:-5%;
    right:3%;
  }
  .faqs-bg img.active{
    bottom:0;
  }
  .q-circle{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: #EA5583;
    position: relative;
    left:15px;
    top:10px;
  }
  .faqs-holder{
    position: relative;
    top:22%;
    width:80%;
    margin:auto
  }
  .faqs-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap:10px; */
  }
  .question{
    /* margin:10px auto; */
    transition:.2s ease;
    /* min-height:25px; */
    /* border:1px solid #EA5583; */
    /* border-radius: 25 px; */
    /* padding:.5rem; */
  }
  
  .question span{
    margin-right:10px;
    display: inline;
    position: absolute;
    left:-5%;
    transition: 0.3s ease;
  }
  .question span.active{
    transform: rotateZ(90deg);
  }
  .question h4{
    color:#004AAD;
  }
  .answer{
    height: 10px;
    opacity: 0;
    margin-top:10px;
    transform: translateY(-30px);
  }
  .answer.active{
    height:80px;
    opacity: 1;
    transition: .3s ease;
    transform: translateY(0);
    /* margin-left:10px; */
  }
  footer{
    width:100%;
    height:20vh;
    background: #EA5583;
    position: relative;
  }
  .footer-links{
    position: relative;
    height:200%;
    width:80vw;
    background: #004AAD;
    margin: auto;
    border-radius: 25px;
    bottom:120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:White;
  }
  footer p{
    font-size: .6rem;
    position: relative;
    top:6%;
  }
  .footer-links ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;

  }
  .footer-links ul li{
    /* display: inline; */
    font-size: 1rem;
    color:white;
    list-style-type: none;
    font-family: 'ITC-med';
  }
}

